<div class="row">
  <div class="large-6 columns small-centered">
    <div class="signup-panel">
      <p class="welcome"><%= __('Sign up') %></p>
      <form role="form" action="/signup" method="post">
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        <div class="row collapse">
          <div class="small-2 columns">
            <span class="prefix"><i class="fa fa-user"></i></span>
          </div>
          <div class="small-10 columns">
            <input type="text" name="name" placeholder="name" required<% if (typeof name !== 'undefined') { %> value="<%= name %>"<% } %> />
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2 columns">
            <span class="prefix"><i class="fa fa-envelope"></i></span>
          </div>
          <div class="small-10 columns">
            <input type="email" name="username" placeholder="email" required<% if (typeof username !== 'undefined') { %> value="<%= username %>"<% } %> />
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2 columns">
            <span class="prefix"><i class="fa fa-lock"></i></span>
          </div>
          <div class="small-10 columns">
            <input type="password" name="password" placeholder="password" required />
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2 columns">
            <span class="prefix"><i class="fa fa-lock"></i></span>
          </div>
          <div class="small-10 columns">
            <input type="password" name="password2" placeholder="retype password" required />
          </div>
        </div>
        <div class="row collapse">
          <div class="small-12 columns">
            <p class="addendum"><strong>N.B.</strong> Passwords are encrypted but are submitted over plaintext, so use a good password, but probably not your bank password.</p>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-10 columns small-centered text-center">
            <input type="submit" class="button" value="Sign Up!" />
          </div>
        </div>
      </form>
      <div class="row collapse">
        <div class="small-10 columns small-centered text-center">
          <p>Already have an account? <a href="/login">Login here &raquo</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
