<dl class="sub-nav" ng-if="!showOnlyByMe">
  <dt>Filter:</dt>
  <dd ng-class="{ 'active': (filter == secondaryFilter) }" ng-repeat="filter in secondaryFilters">
    <a ui-sref="cms.home({ filter: filter.value, page: (filter == secondaryFilter) ? currentPage : 1 })">{{filter.label}}</a>
  </dd>
  <dd class="divider">|</dd>
  <dd class="active"><a ui-sref="cms.home({ filter: filter.value, page: currentPage })">By everyone</a></dd>
  <dd><a ui-sref="cms.home({ filter: filter.value, page: 1, show: 'mine' })">By me</a></dd>
</dl>
<dl class="sub-nav" ng-if="showOnlyByMe">
  <dt>Filter:</dt>
  <dd ng-class="{ 'active': (filter == secondaryFilter) }" ng-repeat="filter in secondaryFilters">
    <a ui-sref="cms.home({ filter: filter.value, page: (filter == secondaryFilter) ? currentPage : 1, show: 'mine' })">All</a>
  </dd>
  <dd class="divider">|</dd>
  <dd><a ui-sref="cms.home({ filter: secondaryFilter.value, page: 1 })">By everyone</a></dd>
  <dd class="active"><a ui-sref="cms.home({ filter: secondaryFilter.value, page: currentPage, show: 'mine' })">By me</a></dd>
</dl>
<hr />

<article class="row story story-list story-feed" ng-repeat="story in stories">
  <div class="columns" ng-class="{ 'large-9': ((canAuthor && story.author.id == user.id) || isAdmin), 'large-12': !((canAuthor && story.author.id == user.id) || isAdmin) }">
    <h5>
      <a ng-href="/stories/{{story.id}}" target="_blank">{{story.title|default:'Untitled story'}}</a>
    </h5>
    <p ng-if="story.content">{{story.content|blurbify}}</p>
    <p ng-if="!story.content"><em>No content</em></p>
    <ul class="large-block-grid-2">
      <li>
        <ul class="unstyled-list">
          <li><strong>Author:</strong> <a ng-href="/authors/{{story.author.id}}" target="_blank">{{story.author.name}}</a></li>
          <li><strong>Published:</strong> <span ng-if="story.publishAt">{{story.publishAt|date:'medium'}}</span><span ng-if="!story.publishAt"><em>Not yet published</em></span></li>
        </ul>
      </li>
      <li>
        <ul class="unstyled-list">
          <li><strong>Created:</strong> {{story.createdAt|date:'medium'}}</li>
          <li><strong>Last Edited:</strong> {{story.updatedAt|date:'medium'}}</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="large-3 columns" ng-if="(canAuthor && story.author.id == user.id) || isAdmin">
    <a ng-href="/cms/stories/{{story.id}}/edit" class="button expand secondary"><i class="fa fa-edit"></i> Edit story</a>
    <button ng-click="deleteStory(story)" class="button expand alert" ng-if="isAdmin"><i class="fa fa-trash-o"></i> Delete story</button>
  </div>

  <div class="large-12 columns" ng-if="!$last">
    <hr />
  </div>
</article>

<alert type="'alert'" close="closeAlert()" ng-if="stories.length === 0">
There were no results for this filter.
</alert>

<div class="pagination-centered" ng-if="stories.length > 0">
  <pagination total-items="totalStories" page="currentPage" items-per-page="itemsPerPage" max-size="7" boundary-links="true" on-select-page="reloadStories()"></pagination>
</div>
