<article class="row story story-list story-feed" ng-repeat="story in stories">
  <div class="columns" ng-class="{ 'large-9': canAuthor || isAdmin, 'large-12': !canAuthor && !isAdmin }">
    <h5>
      <a ng-href="/stories/{{story.id}}" target="_blank">{{story.title|default:'Untitled story'}}</a>
    </h5>
    <p ng-if="story.content">{{story.content|blurbify}}</p>
    <p ng-if="!story.content"><em>No content</em></p>
    <ul class="large-block-grid-2">
      <li>
        <ul class="unstyled-list">
          <li><strong>Author:</strong> {{story.author.name}}</li>
          <li><strong>Created:</strong> {{story.createdAt|date:'medium'}}</li>
        </ul>
      </li>
      <li>
        <ul class="unstyled-list">
          <li><strong>Published:</strong> <span ng-if="story.publishAt">{{story.publishAt|date:'medium'}}</span><span ng-if="!story.publishAt"><em>Not yet published</em></span></li>
          <li><strong>Last Edited:</strong> {{story.updatedAt|date:'medium'}}</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="large-3 columns" ng-if="(canAuthor && story.author.id == user.id) || isAdmin">
    <a ng-href="/cms/stories/{{story.id}}/edit" class="button expand secondary"><i class="fa fa-edit"></i> Edit story</a>
    <button ng-click="deleteStory(story)" class="button expand alert" ng-if="isAdmin"><i class="fa fa-trash-o"></i> Delete story</button>
  </div>

  <div class="large-12 columns" ng-if="!$last">
    <hr />
  </div>
</article>

<div class="pagination-centered">
  <pagination total-items="stories.length" page="currentPage" items-per-page="itemsPerPage" max-size="7" boundary-links="true" on-select-page="reloadStories()"></pagination>
</div>
