@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

html, body, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

.story{
    &.story-list {
        border-bottom: 1px solid #ddd;
        margin-bottom: 1.1875rem;
        padding-bottom: 1.25rem;
    }
}
