@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

html, body, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

h1 {
    small {
        font-size: 54.5454%;
    }
}

.story {
    h6 {
        color: #999;
        font-weight: 200;
        font-style: italic;
    }

    &.story-list {
        &:not(.story-feed) {
            &:not(:last-of-type) {
                border-bottom: 1px solid #ddd;
                margin-bottom: 1.1875rem;
                padding-bottom: 1.25rem;
            }
        }

        &:last-of-type {
            margin-bottom: 4rem;
        }

        &.story-feed {
            p, li {
                font-size: 0.875rem;
                color: #6f6f6f;

                strong {
                    color: #333;
                }
            }

            > .columns.large-12 {
                .large-block-grid-2 {
                    width: 75%;
                }
            }
        }
    }
}

ul.unstyled-list {
    list-style-type: none;
    margin-left: 0;
}

.full-width {
    width: 100%;
}
