<!-- Header -->
<header class="row">
  <div class="large-12 columns">
    <h1>
    	<% if (typeof bodyId !== 'undefined' && bodyId === 'www') { %><a href="/"><% } %>Sinead<% if (typeof bodyId !== 'undefined' && bodyId === 'www') { %></a><% } %>
    	<small>A content management system for the 21st Century.</small>
    </h1>
    <hr />
  </div>
</header>
<!-- End Header -->
