<!-- Header -->
<header class="row">
  <div class="large-12 columns">
    <h1>
    	<% if (bodyId === 'www') { %><a href="/"><% } %><%= title %><% if (bodyId === 'www') { %></a><% } %>
    	<% if (subtitle) { %><small><%= subtitle %></small><% } %>
    </h1>
    <hr />
  </div>
</header>
<!-- End Header -->
