<!-- Nav Bar -->
<nav class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul class="button-group">
        <li><a href="/logout" target="_self" class="button">Log out</a></li>
      </ul>
    </div>
    <h1>Sinead <small>A content management system for the 21st Century.</small></h1>
    <hr />
  </div>
</nav>
<!-- End Nav -->


<!-- First Band (Image) -->
<div class="row" ng-if="user">
  <div class="large-12 columns">
    <div class="panel callout radius">
      <h2>Hello {{user.name}}</h2>
      <p>What would you like to do today?</p>
    </div>
  </div>
</div>


<!-- Second Band-->
<div class="row">
  <div id="sidebar" class="large-3 columns" ui-view="sidebarContent" autoscroll="newStoriesLoaded">
  </div>

  <div id="main" class="large-9 columns" ui-view="mainContent">
  </div>
</div>


<!-- Footer -->
<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>&copy; Copyright 2014 by Nara Kasbergen.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="http://nara-designs.com" target="_blank">nara-designs.com</a></li>
          <li><a href="http://xie2han4.com" target="_blank">xie2han4.com</a></li>
          <li><a href="http://twitter.com/xiehan">@xiehan</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
