<div class="row bump">
  <div class="small-12 large-8 columns">
    <div class="profile-card">
      <div class="small-12 large-4 columns profile-picture">
        <i class="fa fa-smile-o fa-5x"></i>
      </div>
      <div class="small-12 large-8 columns profile-data">
        <h4>{{author.name}} <span>Contributor</span></h4>
        <p><i class="fa fa-envelope"></i> <span>{{author.email}}</span></p>
        <p ng-if="author.twitter"><i class="fa fa-twitter"></i> @<a ng-href="http://twitter.com/{{author.twitter}}" target="_blank">{{author.twitter}}</a></p>
        <p ng-if="author.website"><i class="fa fa-globe"></i> <a ng-href="{{author.website}}" target="_blank">{{author.website}}</a></p>
      </div>
      <div class="row collapse">
        <ul class="button-group even-3">
          <li><a href="#" class="button"> Stories <span>{{totalStories}} </span></a></li>
          <li><a href="#" class="button"> Comments <span>0 </span></a></li>
          <li><a href="#" class="button"> Followers <span>42 </span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="storiesByAuthor" class="row" ng-class="{ 'bump': totalStories <= author.stories.length }" ng-if="author.stories">
  <div class="small-12 columns">
    <h2><ng-pluralize count="totalStories" when="{'0': 'No stories', 'one': '1 story', 'other': 'All {} stories'}"></ng-pluralize> by {{author.name}}</h2>
    <story ng-repeat="story in author.stories" collapsed-story></story>
  </div>
</div>
<button id="loadMore" class="bump button expand secondary" ng-class="{ 'disabled': loadingMoreStories }" ng-if="totalStories > author.stories.length" ng-click="loadMore()">Load More</button>
