<div class="row bump">
  <div class="small-12 columns">
    <div class="profile-card">
      <div class="small-12 columns profile-data">
        <h4><a ng-href="/authors/{{author.id}}">{{author.name}}</a> <span>Contributor</span></h4>
        <p><i class="fa fa-envelope"></i> <span>{{author.email}}</span></p>
        <p ng-if="author.twitter"><i class="fa fa-twitter"></i> @<a ng-href="http://twitter.com/{{author.twitter}}" target="_blank">{{author.twitter}}</a></p>
        <p ng-if="author.website"><i class="fa fa-globe"></i> <a ng-href="{{author.website}}" target="_blank">{{author.website}}</a></p>
      </div>
      <div class="row collapse">
        <ul class="button-group even-2">
          <li><a ng-href="/authors/{{author.id}}" class="button"> Stories <span ng-if="totalStories != null">{{totalStories}} </span></a></li>
          <li><a ng-href="/authors/{{author.id}}" class="button"> Comments <span>0 </span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
